body {
    background-color: red;
}

.post-card{
    border: 1px solid black;
   }
   
.column{
    width: 45%;            
    margin-top: 10px;
    margin-left: 30px;
}

.row{
    float: left;
    width: 100%;
}

.login-form{
    width: 20%;
    margin: 20px;                                    
}        
.fuente-navbar{
    color: green;
}
.post-container{
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
    border: 1px solid green;
}        
.img-logo{
    margin-right: 2%;
}

.post-title{
    text-align: center;
    margin-top: 5%;  
    font-family: arial black;                      
}
.post-container > p
{
    text-align: justify;
    font-family: Arial;
}
.img-content {
    width: 640px;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    margin-bottom: 3%;            
}

.profile-div{
    float:left;
    width: 45%;
    height: 100%;
    margin:2%;
    padding: 1%;
    border: 1px solid black;
    
}
.btn-card
{
    width:32%
}